
.section-container {
  display: flex;
  width: 100vw;
  height: 40vw;
  border-radius: 0vw;
  border: 0.1vw solid grey;
  position: relative;
  justify-content: center;
  align-items: stretch
}

.title-box {
  display: flex;
  width: 100vw;
  height: 20vw;
  border-radius: 0vw;
  /* border: 0.1vw solid grey; */
  position: relative;
  justify-content: center;
  align-items: center
}

background{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

canvas{width: 60;

}

.typewriter {
  text-align: center;
  overflow: hidden; 
  border-right: .15em solid black; 
  color: white;
  font-family: Courier New;
  top:30%;
  font-size: 40px;
  white-space: nowrap; 
  letter-spacing: .30em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width:20% }
  to { width: 50% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
}

.title-text {
  font-family: 'Tangerine', serif;
  font-size: 48px;
}