.iphone {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1vw solid grey;
  width: 20vw;
  height: 40vw;
  border-radius: 3vw;
  margin: 1vw;
}

.top-bar {
  /*   position: relative; */
    position: absolute;
    top: 0.5vw;
    width: 100%;
  /*   background-color: purple; */
    height: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .speaker {
    width: 15%;
    height: 7%;
  /*   background-color: b; */
    border: 0.1vw solid grey;
    border-radius: 10px;
  }
  .camera {
    position: absolute;
    left: 11vw;
    height: 0.7vw;
    width: 0.7vw;
  /*   background-color: grey; */
    border: 0.1vw solid grey;
    border-radius: 100%;
  }
  
  .camera-2 {
    position: absolute;
    left: 15.7vw;
    top: 0.5vw;
    height: 0.5vw;
    width: 0.5vw;
  /*   background-color: red; */
    border: 0.1vw solid grey;
    border-radius: 100%;
  }
  
.button {
  /*   background-color: green; */
    border: 0.1vw solid grey;
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 100%;
    position: absolute;
    bottom: 0.7vw;
  }

.screen {
  box-sizing: border-box;
  width: 92%;
  height: 82%;
  position: relative;
}

.screen-content {
  box-sizing: border-box;
  border: 0.1vw solid grey;
  width: 100%;
  height: inherit;
  font-size: 1vw;
  text-align-last: left;
  box-sizing: border-box;
  padding: 20px;
}

.screen-content-scroll {
  /* background-color: blue; */
  /* top: 15; */
  box-sizing: border-box;
  border: 0.1vw solid grey;
  width: 100%;
  height: inherit;
  /* padding: 1vw; */
  overflow: scroll;
  font-size: 1vw;
  /* margin-bottom: auto;
  margin-top: auto;
  flex-grow: 1 */
  /* position: relative; */
}

.screen-title {
  position: relative;
  /* position: absolute; */
  top: 0;
  width: 100%;
  background-color: olivedrab;
  height: 8.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 12px
}

.bottom-nav {
/* position: relative; */
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: olivedrab;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }